pocketcube_child_board/\#auto_saved_files\#
pocketcube_child_board/fp-info-cache
pocketcube_child_board/fp-lib-table
pocketcube_child_board/inspireFly.bak
pocketcube_child_board/inspireFly.kicad_sym
pocketcube_child_board/inspirefly.pretty/HARWIN_M55-7101242R.kicad_mod
pocketcube_child_board/inspirefly.pretty/RFM98W-433S2.kicad_mod
pocketcube_child_board/pocketcube_child_board-backups/pocketcube_child_board-2025-10-15_141533.zip
pocketcube_child_board/pocketcube_child_board-backups/pocketcube_child_board-2025-10-15_142845.zip
pocketcube_child_board/pocketcube_child_board.kicad_pcb
pocketcube_child_board/pocketcube_child_board.kicad_prl
pocketcube_child_board/pocketcube_child_board.kicad_pro
pocketcube_child_board/pocketcube_child_board.kicad_sch
pocketcube_child_board/sym-lib-table
pocketcube_child_board/~pocketcube_child_board.kicad_sch.lck
